fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
asyncpg
asyncmy
aiomysql
pymysql
pydantic[email]
email-validator
bcrypt
python-jose[cryptography]
requests
python-multipart
google-generativeai
razorpay
reportlab
playwright
pandas
openpyxl
python-dotenv
slowapi
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
